# Environment variables
.env
token.txt

# Python
venv/
__pycache__/
*.py[cod]
*$py.class

# Node.js
node_modules/
dist/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo
